body {
  margin: 0;
  padding: 0;
  background: #002225;
  height: 100vh;
}


#smallScreen{display:none;}
#bigScreen{display:block;}


@media screen and (max-aspect-ratio: 16/10) {
  #smallScreen {
    display: block;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
    overflow: hidden;
  }
  #smallScreen img {
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
  }

  #bigScreen {display:none;}
}


.box {
  width: 11.3%;
}

.box img {
  width: 100%;
}

.box .front,
.box .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s;
  backface-visibility: hidden;
}


.box .front {
  transform: perspective(1000px) rotateY(0deg);
  z-index: 2;
}

.box .back {
  transform: perspective(1000px) rotateY(180deg);
  z-index: 1;
}

.box:hover .front {
  transform: perspective(1000px) rotateY(-180deg);
  z-index: 2;
}

.box:hover .back {
  transform: perspective(1000px) rotateY(0deg);
  z-index: 1;
}


#box2-4 {
  position: absolute;
  top: 11.3vw;
  left: 33.9%;
}

#box2-5 {
  position: absolute;
  top: 11.3vw;
  left: 45.2%;
}

#box2-6 {
  position: absolute;
  top: 11.3vw;
  left: 56.5%;
}

/* this is the third row */

#box3-4 {
  position: absolute;
  top: 22.6vw;
  left: 33.9%;
}

#box3-5 {
  position: absolute;
  top: 22.6vw;
  left: 45.2%;
}

#box3-6 {
  position: absolute;
  top: 22.6vw;
  left: 56.5%;
}


/* this is the fourth row */

#box4-4 {
  position: absolute;
  top: 33.9vw;
  left: 33.9%;
}

#box4-5 {
  position: absolute;
  top: 33.9vw;
  left: 45.2%;
}

#box4-6 {
  position: absolute;
  top: 33.9vw;
  left: 56.5%;
}


/* --------------------------SMALL BACK SQUARE-------------------------- */
#box2-4back {
  position: absolute;
  top: 40.16vw;
  left: 3.77vw;
  width: 3.77vw;
}

#box2-5back {
  position: absolute;
  top: 40.16vw;
  left: 7.54vw;
  width: 3.77vw;
}

#box2-6back {
  position: absolute;
  top: 40.16vw;
  left: 11.30vw;
  width: 3.77vw;
}

/* this is the third row */

#box3-4back {
  position: absolute;
  top: 43.93vw;
  left: 3.77vw;
  width: 3.77vw;
}

#box3-5back {
  position: absolute;
  top: 43.93vw;
  left: 7.54vw;
  width: 3.77vw;
}

#box3-6back {
  position: absolute;
  top: 43.93vw;
  left: 11.30vw;
  width: 3.77vw;
}


/* this is the fourth row */

#box4-4back {
  position: absolute;
  top: 47.7vw;
  left: 3.77vw;
  width: 3.77vw;
}

#box4-5back {
  position: absolute;
  top: 47.7vw;
  left: 7.54vw;
  width: 3.77vw;
}

#box4-6back {
  position: absolute;
  top: 47.7vw;
  left: 11.30vw;
  width: 3.77vw;
}
/* --------------------------END OF SMALL BACK SQUARE-------------------------- */

/* --------------------------SMALL NEXT SQUARE-------------------------- */

#box2-4next {
  position: absolute;
  top: 2vw;
  left: 84.92vw;
  width: 3.77vw;
}

#box2-5next {
  position: absolute;
  top: 2vw;
  left: 88.69vw;
  width: 3.77vw;
}

#box2-6next {
  position: absolute;
  top: 2vw;
  left: 92.46vw;
  width: 3.77vw;
}

/* this is the third row */

#box3-4next {
  position: absolute;
  top: 5.77vw;
  left: 84.92vw;
  width: 3.77vw;
}

#box3-5next {
  position: absolute;
  top: 5.77vw;
  left: 88.69vw;
  width: 3.77vw;
}

#box3-6next {
  position: absolute;
  top: 5.77vw;
  left: 92.46vw;
  width: 3.77vw;
}


/* this is the fourth row */

#box4-4next {
  position: absolute;
  top: 9.54vw;
  left: 84.92vw;
  width: 3.77vw;
}

#box4-5next {
  position: absolute;
  top: 9.54vw;
  left: 88.69vw;
  width: 3.77vw;
}

#box4-6next {
  position: absolute;
  top: 9.54vw;
  left: 92.46vw;
  width: 3.77vw;
}
/* --------------------------END OF NEXT BACK SQUARE-------------------------- */


#title {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 22vw;
}

#titlerapa {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 11vw;
}

#thisbutton {
  position: absolute;
  top: 12vw;
  left: 4vw;
  width: 6vw;
}

#backbutton {
  position: absolute;
  top: 15vw;
  left: 4vw;
  width: 6vw;
}

#nextbutton {
  position: absolute;
  top: 18vw;
  left: 4vw;
  width: 6vw;
}
